<div class="main-card-container">
  <div class="slider-image">
    <div class="arrow arrow-left"></div>
    <div class="arrow arrow-right"></div>
    <div class="image-container">
      <img src="../../../assets/images/food.jpg" alt="">
    </div>
  </div>
  <div class="text-container">
    <div class="container-main-text">
      <div class="main-text">
        <div class="small-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac libero nibh. Suspendisse non ullamcorper quam.
        </div>
        <div [ngClass]="{showText: seeMore}" class="long-text">
          <span>
            Nullam interdum ac arcu vitae ultrices. Phasellus sit amet euismod metus. Curabitur viverra turpis vel accumsan lobortis. Aenean euismod felis eu urna varius convallis.
          </span>
          <br/>
          <br/>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac libero nibh. Suspendisse non ullamcorper quam. Nullam interdum ac arcu vitae ultrices. Phasellus sit amet euismod metus. Curabitur viverra turpis vel accumsan lobortis.          </span>
        </div>
      </div>
      <div (click)="effectTextHelper()" [ngClass]="{opacity0: hideText}" class="see-more">
        {{seeMore ? 'Ver menos...' : 'Ver mas...'}}
      </div>
    </div>
    <div class="footer-card">
      <div class="points-text">
        Calificación 8.5/10
      </div>
      <button class="visit-link">
        Visitar
      </button>
    </div>

  </div>

</div>