.main-card-container{
  height: 100%;
  box-shadow: 14px 16px 6px #00000047;
  background: #FFF;
  display: flex;
}

.main-card-container > div{
  width: 50%;
}

.slider-image{
  position: relative;
  height: 100%;
}

.arrow{
  position: absolute;
}

.image-container{
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image-container img{
  height: 100%;
}

.arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}


.arrow-right {
  left: 1.5%;
  border-right: 12px solid #DCDCDC; 
}

.arrow-left {
  right: 1.5%;
  border-left: 12px solid #DCDCDC;
}

.text-container{
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.see-more{
  cursor: pointer;
  color: #A5A5A5;
  transition: opacity .3s ease;
}

.opacity0{
  opacity: 0;
  // animation: effect .5s ease;
}

.long-text{
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all .3s ease;
}

.showText{
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.footer-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.points-text{
  color: #BFBBBB;
  font-family:'Segoe UI Italic';
  font-size: 14px;
}

.footer-card button{
  background: none;
  border: 1px solid #000;
  padding: 10px 10px;
  width: 50%;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease;
}

.footer-card button:hover{
  background-color: #2440FF;
  border: 1px solid #2440FF;
  color: #fff;
}

@media only screen and (max-width: 1025px) { 
  .text-container{
    height: auto;
    font-size: 12px;
    padding: 10px;
  }

  .main-card-container{
    max-height: 400px;  
  }

  .slider-image {
    height: auto;
  }


  .points-text{
    color: #BFBBBB;
    font-family:'Segoe UI Italic';
    font-size: 9px;
  }

  .footer-card button{
    background: none;
    border: 1px solid #000;
    padding: 0px 10px;
    width: 45%;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease;
  }
  
}