
.container-main-cards{
  background: url(../../../assets/images/restaurant.jpg);
  background-size: cover;
  height: calc(100% - 120px);
  position: relative;
}

.filter-container{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: .35;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  backdrop-filter: blur(25px);
}

.container-flex-elements{
  display: flex;
  position: relative;
  z-index: 3;
  padding: 40px 80px;
  height: 100%;
  box-sizing: border-box;
}

.left-container{
  width: 60%;
}

.right-container{
  width: 35%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1025px) { 
  .container-main-cards{
    height: auto;
  }

  .container-flex-elements{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 25px;

  }
  
  .left-container{
    width: 100%;
    margin-bottom: 25px;
  }
  
  .right-container{
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}