  <div class="container-main-cards">
    <div class="filter-container">
    </div>
    <div class="container-flex-elements">
      <div class="left-container">
        <app-main-card></app-main-card>
      </div>
      <div class="right-container">
        <app-faq></app-faq>
        <app-comentarios></app-comentarios>
      </div>
    </div>
  </div>
