.faq-container{
  box-shadow: 16px 14px 6px #00000047;
  background: #fff;
  height: 200px;
  padding: 10px 20px;
  color: #BFBBBB;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.faq-container::-webkit-scrollbar {
  display: none;
}

.faq-container *{
  font-family:'Segoe UI Italic';
}

.title-faq-main{
  margin-bottom: 15px;
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.dropdown-arrow{
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 12px solid #BFBBBB; 
  transition: transform .3s ease;
}

.content-faq{
  color: #4C0101;
  -webkit-transition: max-height .3s;
  -moz-transition: max-height .3s;
  -ms-transition: max-height .3s;
  -o-transition: max-height .3s;
  transition: max-height .3s;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 5px;
}

.showText{
  max-height: 200px;
}

.rotate{
  transform: rotate(180deg);

}
