<div class="faq-container">
  <div class="title-faq-main">
    Preguntas frecuentes
  </div>
  <div *ngFor="let faq of faqs; let i = index" class="faq-container-el">
    <div class="title-container">
      <div class="title-faq">{{faq.title}}</div>
      <div (click)="rotateEl(i)" [ngClass]="{rotate: faq.rotate}" class="dropdown-arrow"></div>  
    </div>
    <div class="content-faq" [ngClass]="{showText: faq.rotate}">
      {{faq.content}}
    </div>
  </div>
</div>