:host{
  flex: 1;
  margin-top: 8%;
  background: #fff;
  box-shadow: 16px 14px 6px #00000047;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.comentario-container{
  margin-bottom: 10px;
}

.comentarios-container-main{
  flex: 1;
  background: #fff;
  padding: 20px 40px 20px 20px;
  box-sizing: border-box;
  overflow: auto;
}

:host::-webkit-scrollbar {
  display: none;
}

.title-comentario{
  font-family: Segoe UI Bold Italic;
  margin-bottom: 5px;
}

.svg-thumbs{
  width: 20px;
  cursor: pointer;
  margin-left: 20px;
}

#thumbs-dowm-svg{
  transform: rotate(180deg);
}

.container-body-comentario{
  display: flex ;
  align-items: center;
}

.container-body-comentario img{
  border-radius: 50%;
  margin-right: 20px;
}

.line-bottom-comentario{
  height: 1px;
  background: #000;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
}

#thumbs-up-svg{
  margin-bottom: 10px;
  transition: fill .3s ease;
}

#thumbs-up-svg.active{
  fill: #00D8FF
}

#thumbs-dowm-svg.active{
  fill: red
}