<div class="container-footer">
  <div class="footer-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
  <div class="menu-footer">
      <div>
        Sub menu
      </div>
      <div (click)="expandMenu = !expandMenu" [ngClass]="{'rotate': expandMenu}" class="triangle-submenu">
    </div>
  </div>
</div>
<div [ngClass]="{'active': expandMenu}" class="menu-items-footer">
    <ul class="sub-menu-footer">
      <li>Sub menú 1</li>
      <li>Sub menú 1</li>
      <li>Sub menú 1</li>
      <li>Sub menú 1</li>
      <li class="desktop">Sub menú 1</li>
    </ul>
</div>