:host{
  height: 40px;
  width: 100%;
}

.container-footer{
  display: flex;
  position: relative;
  z-index: 5;
  background: #fff;
  height: 47px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 20px;
}


.footer-text{
  color: #4C0101;
  font-family:'Segoe UI Italic';
  font-size: 14px;
}

.triangle-submenu{
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 12px solid #4C0101; 
  transition: transform .3s ease;
  margin-left: 10px;
}

.menu-footer{
  display: flex;
  color: #4C0101;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  background: #D8D8D8;
  font-family:'Segoe UI Bold';
  font-weight: 700;
}

.rotate{
  transform: rotate(-180deg);
}

.menu-items-footer{
  position: absolute;
  right: 60px;
  z-index: 4;
  background: #DFDFDF;
  box-shadow: 7px 0px 6px #00000029;
  color: #fff;
  transition: transform .4s ease;
}

.menu-items-footer.active{
  transform: translateY(calc(-100% - 45px));
}

.sub-menu-footer{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-menu-footer li{
  padding: 10px 20px;
  font-family:'Segoe UI Italic';
  font-size: 14px;
  cursor: pointer;
  transition: background .15s ease;
}

.sub-menu-footer li:hover{
  background: #000000aa;
}

@media only screen and (max-width: 1025px) { 
  .container-footer{
    height: auto;
    align-items: stretch;
  }

  .footer-text{
    color: #4C0101;
    font-family:'Segoe UI Italic';
    font-size: 16px;
    padding: 15px 0px;
    width: calc(100% - 150px);
  }

  .menu-items-footer{
    z-index: 8;
    bottom: 10px;
    right: 20px;
    box-shadow: none;
    background: none;
    color: #4C0101;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .triangle-submenu{
    margin-top: 5px;
    border-bottom: 0px solid #4C0101; 
    border-top: 12px solid #4C0101; 
  }

  .menu-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 5px;
    width: 150px;
    height: auto;
  }
  
  .desktop{
    display: none;
  }

  .menu-items-footer.active{
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  .sub-menu-footer li{
    padding: 5px 20px;
    font-family:'Segoe UI Italic';
    font-size: 14px;
    cursor: pointer;
    transition: background .15s ease;
  }

  .sub-menu-footer li:hover{
    background: none
  }
  
  
}