<div (mouseleave)="showMenu = false" class="cont-Effect">
  <div class="container-navbar">
    <img src="../../../assets/images/logo.png" alt="" class="logo-company">
    <ul class="navBar">
      <li (mouseenter)="showMenu = true" class="menu-item dropdownItem">
        <div class="dropdown-parent">Menú 1</div>
      </li>
      <li class="menu-item">Menú 1</li>
      <li class="menu-item">Menú 1</li>
      <li class="menu-item">Menú 1</li>
      <li class="menu-item">Menú 1</li>
    </ul>
    <div class="hamburguer" [ngClass]="{'change': showMenu}" (click)="showMenu = !showMenu">
      <div class="hamburguer-item"></div>
      <div class="hamburguer-item"></div>
      <div class="hamburguer-item"></div>
    </div>
  </div>
  <div class="alternateMenu" [ngClass]="{'active': showMenu}">
    <ul>
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul>
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul class="desktop">
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul class="desktop">
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul class="desktop">
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul class="desktop">
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
    <ul class="desktop">
      <li>Menu 1</li>
      <li>Menu 1</li>
      <li>Menu 1</li>
    </ul>
  </div>
</div>