.container-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  position: relative;
  padding: 10px 80px;
  margin: auto;
  background: #fff;
  z-index: 5;
  height: 73px;
}

.cont-Effect{
  position: relative;
}

.container-navbar img{
  width: 60px;
}

.navBar{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0;
  font-weight: 700;
  cursor: pointer;
}

.menu-item{
  flex: 1;
}

.alternateMenu{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 10px;
  position: absolute;
  z-index: 4;
  background: #DFDFDF;
  transform: translateY(-100%);
  transition: transform .3s ease;
}

.alternateMenu.active{
  transform: translateY(0%);
}

.alternateMenu ul{
  margin: 0;
  list-style: none;
  padding: 0;
}

.alternateMenu ul li{
  margin-bottom: 5px;
  cursor: pointer;
}

.alternateMenu ul li:first-child{
  font-weight: 700;
}

.hamburguer {
  width: 50px;
  cursor: pointer;
  display: none;
}

.hamburguer-item {
  background: #8c8c8c;
  margin: 8px auto;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  transition: 0.3s;
  
}

.change .hamburguer-item:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 7px)
}

.change .hamburguer-item:nth-child(2) {
  opacity: 0;
}

.change .hamburguer-item:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px)
}


@media only screen and (max-width: 1025px) { 
  .navBar{
    display: none;
  }

  .desktop{
    display: none;
  }

  .hamburguer{
    display: block;
  }

  .container-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    padding: 10px 20px;
    margin: auto;
    background: #fff;
    z-index: 5;
    height: 73px;
  }
}